.container {
  display: flex;
}

.container > div {
  margin: 10px;
  border: 1px black solid;
  background-color:rgb(192, 196, 199)
}

body {
  background-color:rgb(176, 190, 204)
}

table, th, td {
  border: 1px solid black;
}

.storylist {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 1100px;
  margin: 10px;
}

.story {
  border: 1px black solid;
  background-color: rgb(231, 145, 46);
  margin: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:space-between;
}

.story_wrapper {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.storyData {
  display: flex;
  justify-content:space-between;
  background-color:rgb(211, 162, 107);
  margin: 10px;
}

.topinfo {
  background-color: rgb(198, 206, 206);
  padding: 0px;
  margin: 0px;
  padding: 2px;
  margin: 0px 0px 1px 1px;
}

.bottominfo {
  background-color: rgb(198, 206, 206);
  display: flex;
  justify-content:space-between;
  padding: 2px;
  margin: 0px 0px 2px 2px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content:space-between;
  height: 30px;
  align-items:stretch;
}

.buttonlist {
  display: flex;
}

.buttondiv.butts > * {
  height: 100%;

}

.togglebuttons {
  display:flex;
  flex-direction: row;
}

.buttondiv.logo {
  white-space: nowrap;
  overflow: hidden;
  align-self:center
}

.story_content_wrapper {
  background-color: rgb(151, 197, 197);
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.commentbox {
  margin: 10px;
  justify-content: left;
  border: 1px black solid;
  background-color: rgb(210, 218, 218);
  margin: 10px;
}

.commenttext {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rotate{
   vertical-align:top;
   transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.story_content {
  margin: 10px;
  justify-content: left;
  border: 1px black solid;
  background-color: rgb(187, 179, 110);
  width: 70%
}

.commentPos {
  margin-left: 2%;
}

/* .infotext > div {
  margin-left: 5px;
  border: 1px #adaec0 inset;
  padding: 1px;
} */

.infotext {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
    margin-left: 5px;
  border: 1px #adaec0 inset;
  padding: 1px;
}

button {
  border-radius: 0px;
}